<?xml version="1.0"?>
<robot name="drone">

  <link name="base">

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.5"/>
      <inertia ixx="0.02" iyy="0.02" izz="0.04" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="drone.stl" scale="0.001 0.001 0.001"/>  <!-- often needed -->
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="drone.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>

  </link>

</robot>
